html { 
	font-size: 10px;
}

body {
	background: #fff;
  margin: 0;
}

section[role="region"] > header:first-child .icon:before {
  font-size: 3rem;
  line-height: 5rem;
}

[role="toolbar"] button:before {
  font-size: 3rem;
  color: #fff;
}

[data-type="list"] {
  margin-top: 1rem;
}

[data-type="list"] aside.icon {
	background: none;
}

[data-type="list"] aside.icon:before {
  width: 3rem;
  height: 6rem;
  position: absolute;
  font-size: 3rem;
  line-height: 6rem;
}